[submodule "frontend"]
	path = frontend
	url = https://github.com/divyamishra22/reactinstaclone.git
[submodule "backend"]
	path = backend
	url = https://github.com/divyamishra22/nestjs-backend-social-networking-site.git
